.DS_Store
.vscode/
*.pyc
aider_chat.egg-info/
build
dist/
Gemfile.lock
_site
.jekyll-cache/
.jekyll-metadata
venv*
.env
.aider*
aider/

# Project specific
*.mp3
*.wav
*.midi
*.mid
*.aup
*.aup3
*.flp
*.als
*.logicx
*.band
*.ptb
